body {
	background-color:black;
}

body .site {
	background-color: white;
}

.content-area {
	float: left;

}

.site-main {
	background-color: green;
}

.site-content .widget-area {
	overflow: hidden;
	float: left;
	background-color: yellow;
}

.site-footer {
	clear: both;
}