h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1.site-title {
	@include font-size(3);
	@include gs-pad(d, padinfull);
}

h1.entry-title {
	@include font-size(3);
	@include font(Lato-Regular);
	a {
		text-decoration: none;
		color: $color__link;
	}
}