.widget, .post-navigation {
	clear: both;
	margin: 0 0 1.5em;
	border-top: 1px solid darken($color__border, 10%);
	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}
	ul {
		margin: 0;
		list-style: none;
		a {
			padding: 7px 0px 7px 5px;
			border-bottom: 1px solid $color__border;
			text-decoration: none;
			display: block;
			@include font(Lato-Light);
			&:hover {
				background: $color__border;
				color: $color__link;
			}
		}
	}
	& h1.widget-title {
		margin-top: 5px;
	}
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

